@import '~modularscale-sass/stylesheets/modularscale';

$modularscale: (
  base: 14px,
  ratio: 1.25
);

.home {
  .list {
    padding: ms(5);

    .heading {
      text-transform: uppercase;
      font-size: ms(0);
      font-weight: 700;
      color: var(--blue-500);
      margin-bottom: ms(2);
    }

    .pages {
      width: calc(100vw - #{ms(5)}*2);

      .page {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: ms(-1);

        .name {
          font-size: ms(3);
          font-weight: 700;
          color: var(--gray-800);
        }

        .description {
          font-size: ms(1);
          color: var(--gray-400);
          font-weight: 500;
        }
      }
    }
  }
}